<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <section>
    <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
          <a href="/singlepost/<%= post.id %>">
            <div class="post">
                <!-- Post header: avatar + timestamp -->
                  <div class="post_header">
                  <img src="/avatar_user_1.jpg" class="avatar" alt="User avatar">
                  <p> <%= post.date %> </p>
                  </div>
                <!-- Post image (if any)-->
                <% if (post.photourl) { %>
                  <div class="post_photo">
                  <img src="<%= post.photourl.substr(6) %>" class="photo" alt="Post's image">
                  </div>
                  <% } %>
                <!-- Post content -->
                  <p><%= post.text %></p>
                <!-- Post footer, likes and their counts (TODO) -->
                  <div class="post_footer">
                  </a>
                  <button onclick="getElementById('like_count_id_<%= post.id %>').innerHTML = parseInt(getElementById('like_count_id_<%= post.id %>').innerHTML, 10) + 1; this.style.visibility = 'hidden'"><img src="/thumb_up.png" class="thumb_up" alt="Thumb up"></button>
                  <p id="like_count_id_<%= post.id %>">0</p>
                  </div>
            </div>
        <% }) %>
        <% } else { %>
        <p>You did not post anything...</p>
        <% } %>
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>