<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <section>
    <% if (posts.length > 0) { %>
        <% posts.forEach( post => { %>
          <a href="/singlepost/<%= post.id %>">
            <div class="post">
                <!-- Post header: avatar + timestamp -->
                  <div class="post_header">
                  <img src="/avatar_user_1.jpg" class="avatar" alt="User avatar">
                  <p> <%= post.date %> </p> 
                  </div>
                <!-- Post image (if any)-->
                <% if (post.photourl) { %>
                  <div class="post_photo">
                  <img src="<%= post.photourl.substr(6) %>" class="photo" alt="Post's image">
                  </div>
                  <% } %>
                <!-- Post content -->
                <h3> <%= post.title %> </h3> <br>
                  <p><%= post.text %></p>
                <!-- Post footer, likes and their counts (TODO) -->
                  <div class="post_footer">
                  </a>
                  <!-- onclick="getElementById('like_count_id_<%= post.id %>').innerHTML = parseInt(getElementById('like_count_id_<%= post.id %>').innerHTML, 10) + 1; this.style.visibility = 'hidden'" -->
                  <button class="like_butt_id_<%= post.id %>" ><img src="/thumb_up.png" class="thumb_up" alt="Thumb up"></button>
                  <p class="like_count_id_<%= post.id %>"><%= post.likenr %></p>
                  </div>
            </div>
            <script>
              document.querySelector('button.like_butt_id_<%= post.id %>').addEventListener('click', (e) => {
                fetch(`/posts/<%= post.id %>`, { method: 'PUT'});
                document.querySelector('p.like_count_id_<%= post.id %>').innerHTML = parseInt(document.querySelector('p.like_count_id_<%= post.id %>').innerHTML, 10) + 1;
                document.querySelector('button.like_butt_id_<%= post.id %>').style.visibilty = 'hidden';
            }, { once: true });
              </script>
        <% }) %>
        <% } else { %>
        <p>You did not post anything...</p>
        <% } %> 
        </div>
    </section>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>